---
import AboutHeroImage from '../assets/about.jpeg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="A little more about me."
	pubDate={new Date('September 21, 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		The first time I got in touch with coding was in primary school using Scratch, let's just say I got hooked. I love the feeling of creating instead of consuming, and coding is also fun for me because I get to work together with friends on our shared hobby. After my early Scratch endeavors my interest in tech lay low for a while until I discovered web dev. My passion for coding re-emerged with my first ever "real" project: KittenGames. This project not only helped me learn coding better, it also led me to where I am today.
	</p>

	<p>
		I most enjoy creating projects that are useful and appreciated by others (myself included). When people actually use what I build, I feel accomplished and satisfied with my work. This is what inspires me most—creating things that matter, serve a purpose, and bring enjoyment to users.
	</p>

	<p>
		Beyond coding, I enjoy spending time with friends, listening to music, and simply embracing life's everyday moments.
	</p>

	<blockquote>
		<p>"I'm about as emotionally stable as an elephant balancing on one foot" <span style="font-weight: bold;">— CodingKitten 2025</span></p>
	</blockquote>
</Layout>
